services:
  kasm-tool:
    image: www527/gemini-kasm:1.0
    container_name: gemini-kasm
    shm_size: 512m
    ports:
      - "6901:6901"
      - "8000:8000"
    environment:
      - VNC_PW=password
      - VNC_USER=kasm_user
      - APP_ARGS=--no-sandbox
    volumes:
      # 挂载 Chrome 配置目录
      - ./kasm_profile:/home/kasm-user/.config
      - ./conversations:/gemini/conversations
      - ./stored_images:/gemini/stored_images
    networks:
      - gemini-net
    restart: unless-stopped

networks:
  gemini-net:
    driver: bridge
