annotated-doc
annotated-types
anyio
certifi
charset-normalizer
click
colorama
python-dotenv
fastapi
gemini-webapi
h11
httpcore
httpx
idna
loguru
orjson
pydantic
pydantic_core
python-multipart
requests
starlette
typing-inspection
typing_extensions
urllib3
uvicorn
browser-cookie3
nacos-sdk-python==0.1.12